@import "tailwindcss";

@media (max-width: 640px) {
  .featCheck {
    display: none;
  }
  .supportDesc {
    padding-top: 50px;
    padding-left: 3px;
  }
  .supportSecL{
      
      width: 100%;
  }
  .supportSecR{
    display: none;

  }
  
}
@media (max-width: 770px) {
  .primePack{
    height:auto;
  
  }

  
  
}

@media (max-width: 1027px) {
  .navSec a {
    display: none ;
  }
  
  
  
}
